<app-header2></app-header2>
<br><br>
<div class="row" >
  <div class="col-sm-2"></div>
  <div class="col-sm-8" >
    <div class="card">
      <div class="card-header">

    <h6><i class="fa fa-check-square-o"></i> Frequently Asked Questions </h6>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h6 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       <p> Q. How does it work?</p>
                      </button>
                    </h6>
                  </div>

                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p>TripVacationRental.com is an online platform to rent out your Vacation Home to travelers across the globe. We've made it very simple and convenient to rent out your Vacation Home and earn an extra income. List your Vacation House on the website with the best available pictures,
                          information about the amenities and the rates charged and simply sit back and relax. Travelers across the globe can visit your listing online and if they are interested to book the house they will contact you directly by email using the website's messaging system.
                     </p>
                        </div>
                  </div>
                </div><br>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                       <p> Q. Do I pay you a commission out of my rental income?</p>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                       <p> A. We don't charge any sort of commission either from the property owner's
                        or from the travelers. We assist rental owners earn an extra income but we do not earn a share of the rental income.</p>
                    </div>
                  </div>
                </div><br>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                       <p> Q. Who handles the bookings? What role do you play in the booking process?</p>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p>A. We do not play any role in the booking process. Our job is to ensure that the maximum number of
                          travelers view your listing online and contact you for bookings. Once you receive the initial enquiry,
                          you can negotiate with the travelers directly and if satisfied you can secure a booking deposit.</p>
                    </div>
                  </div>
                </div><br>
                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <p>Q. What can I do to maximize my chances of receiving a booking request?</p>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">
                        <p>A. To maximize the odds of receiving a booking request property owner's need to put in a bit of effort. Travelers are simply spoilt-for-choice because of the vast and unending supply of
                          holidays homes in front of them. There are several factors you can work upon to stay ahead of the competition.</p>
                        <ol>
                            <li>Display the maximum number of images that you can.</li>
                            <li> Make sure that the images are the most recent ones.</li>
                            <li>If possible, try to change the images to reflect the different seasons. This not only helps you get good business in the main holidays season but also keeps you in good stead for the off-season where you can attempt to showcase the fall or winter season to your advantage.</li>
                            <li>Take some time out to write a brief description about your property. We believe that you can best describe the qualities and attractions of your house and this will surely provide potential renters an insight about your property.</li>
                            <li>Regularly update your availability calendar and rates to reflect the most recent status. Not updating the calendar regularly is the most common mistake property owners commit.</li>
                            <li>Provide accurate location details along with local attractions so we can reflect that accordingly on our maps.</li>
                            <li>When travelers visit your property and have a good time, encourage them to write a review about it. A vote-of-confidence from a fellow traveler can be the clinching factor for someone looking to book a rental.</li>
                        </ol>
                    </div>
                    </div>
                  </div><br>
                  <div class="card">
                    <div class="card-header" id="headingSix">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <p>Q. What precautions should I take before accepting a traveler request?</p>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                      <div class="card-body">
                       <p> A. Your holidays home is your cherished possession and you should take great pride in sharing it with likeminded travelers. However, before committing to a booking request, we would like to advise you to personally speak to your guests over the phone to confirm the exact booking dates, the size of the travelling entourage and any other questions or concerns that you may have.</p>
                        <ul>
                            <li>Display the maximum number of images that you can.</li>
                            <li>Make sure that the images are the most recent ones.</li>
                            <li>If possible, try to change the images to reflect the different seasons. This not only helps you get good business in the main holidays season but also keeps you in good stead for the off-season where you can attempt to showcase the fall or winter season to your advantage.</li>
                            <li>Take some time out to write a brief description about your property. We believe that you can best describe the qualities and attractions of your house and this will surely provide potential renters an insight about your property.</li>
                            <li>Regularly update your availability calendar and rates to reflect the most recent status. Not updating the calendar regularly is the most common mistake property owners commit.</li>
                            <li>Provide accurate location details along with local attractions so we can reflect that accordingly on our maps.</li>
                            <li>When travelers visit your property and have a good time, encourage them to write a review about it. A vote-of-confidence from a fellow traveler can be the clinching factor for someone looking to book a rental.<br>
                                Your holidays house is your labor-of-love and you have the choice to decide who you want to share it with.</li>
                        </ul>
                    </div>
                    </div>
                  </div><br>
                  <div class="card">
                    <div class="card-header" id="headingSeven">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          <p>Q. What can I do to optimally convert traveler enquiries into bookings?</p>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                      <div class="card-body">
                       <p> A. Receiving a traveler enquiry is a small but significant step towards your goal of securing a booking. However, to achieve that goal you need to act quickly and respond to the enquiry as soon as possible while answering and addressing all questions of the travelers. A prompt and exhaustive reply signifies your commitment and makes a great first impression on travelers who will need to communicate with you more often if they do decide to rent your property.</p>
                    </div>
                    </div>
                  </div><br>
                  <div class="card">
                    <div class="card-header" id="headingEight">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                          <p>  Q. I really value my Privacy. What steps do you take to safeguard my personal information?</p>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                      <div class="card-body">
                        <p>A. Receiving a traveler enquiry is a small but significant step towards your goal of securing a booking. However, to achieve that goal you need to act quickly and respond to the enquiry as soon as possible while answering and addressing all questions of the travelers. A prompt and exhaustive reply signifies your commitment and makes a great first impression on travelers who will need to communicate with you more often if they do decide to rent your property.</p>
                    </div>
                    </div>
                  </div><br>
                  <div class="card">
                    <div class="card-header" id="headingNine">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                           <p> Q. In what order do the listings appear on the website?</p>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                      <div class="card-body">
                       <p> A. All property listings on the website are sorted according to the three listing tiers ' Gold, Silver and Bronze. When travelers search for any region they will be presented with all the Gold tier listings at the top, followed by the Silver and Bronze tier listings respectively. Listings regularly keep changing positions randomly among their respective tiers to ensure fair representation to all listings. However, we do not brand the listings so travelers cannot distinguish listings from different tiers.
                      </p>
                      </div>
                    </div>
                  </div><br>
                  <div class="card">
                    <div class="card-header" id="headingTan">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTan" aria-expanded="false" aria-controls="collapseTan">
                           <p> Q. I am not good with computers. Can you help me in creating or editing my property advert?</p>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTan" class="collapse" aria-labelledby="headingTan" data-parent="#accordion">
                      <div class="card-body">
                        <p>A. You don't need to have great computer skills to announce your Vacation House on our website. We have designed a very simple and uncomplicated "Owners Section" which you can navigate easily to create your listing. But if you still need help, we are there to assist you through the process. You can email us at info@TripVacationRental.com or call us at +1 860 578 4944 and our customer support executive will be happy to assist you to create or edit your listing.Or You can send the details to your account representative and they will create the listing for you free of cost</p>
                    </div>
                    </div>
                  </div><br>
                  <div class="card">
                    <div class="card-header" id="headingEleven">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                            <p>Q. Can I get a link to my personal website?</p>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                      <div class="card-body">
                       <p> A. Yes, we can offer a link to your personal website. However, this option is only available with the Gold package.</p>
                    </div>
                    </div>
                  </div><br>
                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <p>Q. Is it possible to synchronize my calendar?</p>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                        <p>A. We understand that many property owners and property management companies use various online platforms to promote their rentals, hence it can be quite tedious to update availability across these platforms. We offer you the option to synchronize your availability calendar with channel managers such as I-cal and Kigo.</p>
                    </div>
                    </div>
                  </div><br>
              </div>

        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div><br><br>
<app-footer></app-footer>

