<header> <nav class="navbar container navbar-expand-lg navbar-light nav-color">
  <a class="navbar-brand" href="#"> <img src="../../assets/imges/logo.png"/> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/about">About Us</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/tryus">Try Us Now</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/login">Log In</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/contact">Contact Us</a> </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Select Lang
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">
            Danish
          </a>
          <a class="dropdown-item" href="#">
           English
          </a>
          <a class="dropdown-item" href="#">
            french
          </a>
          <a class="dropdown-item" href="#">
              Italian
            </a>
            <a class="dropdown-item" href="#">
              Portuguese
            </a>
            <a class="dropdown-item" href="#">
              Spanish
            </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Choose Currency
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">
            <img src="../../assets/imges/Aus.png" style="height: 10px;width: 20px;"/> AUD -Australian
          </a>
          <a class="dropdown-item" href="#">
            <img src="../../assets/imges/cana.png" style="height: 10px;width: 20px;"/> CAD -Canadian
          </a>
          <a class="dropdown-item" href="#">
            <img src="../../assets/imges/Euro.png" style="height: 10px;width: 20px;"/> EUR -Euro
          </a>
          <a class="dropdown-item" href="#">
            <img src="../../assets/imges/britis.png" style="height: 10px;width: 20px;"/>  GBP -British Pound Sterling
            </a>
            <a class="dropdown-item" href="#">
              <img src="../../assets/imges/new.png" style="height: 10px;width: 20px;"/> NZD -new Zealand Dollar
            </a>
            <a class="dropdown-item" href="#">
              <img src="../../assets/imges/us.png" style="height: 10px;width: 20px;"/>  USD -US Dollar
            </a>
        </div>
      </li>
      <li class="nav-item"> <a class="nav-link" routerLink="/tryus">Advertise Now!</a> </li>
    </ul>
  </div>
 </nav>
</header>

<div class="banner">
   <video autoplay muted loop class="tagline-video">
  <source src="../../assets/tripvacationrental.mp4" type="video/mp4">
</video> <div class="overlay"></div>
  <div class="banner-innner">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="banner-left">
            <h3>Vacation Rentals made by Professionals</h3>
            <div class="input-group">
              <input type="text" placeholder="Where do you want to go?" class="form-control" style="width: 100px;">
              <input type="date" placeholder="Check in" class="form-control">
              <input type="date"  placeholder="Check out" class="form-control">
              <select class="form-control">
                <option value="1">1 Guest</option>
                <option value="2">2 Guests</option>
                <option value="3">3 Guests</option>
                <option value="4">4 Guests</option>
                <option value="5">5 Guests</option>
                <option value="6">6 Guests</option>
                <option value="7">7 Guests</option>
                <option value="8">8 Guests</option>
                <option value="9">9 Guests</option>
                <option value="10">10 Guests</option>
                <option value="11">11 Guests</option>
                <option value="12">12 Guests</option>
                <option value="13">13 Guests</option>
              </select>
              <input type="text"  placeholder="Search" class="form-control">
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- banner closed with header -->
