<app-header2></app-header2>
<br>
<div class="row" style="width: 100%;">
  <div class="col-sm-2"></div>
  <div class="col-sm-8" >
    <div class="card">
      <div class="card-header">

    <h6><i class="fa fa-check-square-o"></i> About TripVacationRental </h6>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">

          <p>
              Trip Vacation Rental specializes in advertising privately owned holiday accommodations direct from the owner. Trip Vacation Rental offers a variety of unique homes - all are presented with the care of individual owners who truly want to help you enjoy your vacation and their property. Some of the most memorable vacations come out of this mix of pride of ownership and personal contact.
            </p>
            <p>Contact the property owners directly, for availability, rates and booking.</p>
            <p>You'll find private vacation homes, condo rentals, oceanfront villas, mountain lodges and all other types of vacation rentals here at Trip Vacation Rental. Just click on the desired destination to view the specific properties. From there you can contact the property owners directly for availability, rates and booking information. Dealing directly with the owner provides more intimate information regarding the vacation home and its features, leading to a more enjoyable vacation for you and your family.</p>
            <p>Properties can be rented for variable stays depending on the Owner - from a weekend break through to a long term let.</p>
            <p>The majority of our listings are advertised by the owner directly but we also feature clearly marked Property Managers to increase your choice of accommodation. Why a vacation rental versus a hotel?</p>
            <p>Demand more from your dollar and enjoy the benefits of a Trip Vacation Rental. You get more privacy, more space and more amenities than a hotel. Begin creating your dream vacation today.</p>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div><br>
<app-footer></app-footer>
