<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="#">
        <img src="../../assets/imges/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse sidenav" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">
           About Us
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">
             My Account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tryus">
            Try Us Now
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">
            Contact Us
            </a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Select Lang
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">
              Danish
            </a>
            <a class="dropdown-item" href="#">
             English
            </a>
            <a class="dropdown-item" href="#">
              french
            </a>
            <a class="dropdown-item" href="#">
                Italian
              </a>
              <a class="dropdown-item" href="#">
                Portuguese
              </a>
              <a class="dropdown-item" href="#">
                Spanish
              </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Choose Currency
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">
              <img src="../../assets/imges/Aus.png" style="height: 10px;width: 20px;"/> AUD -Australian
            </a>
            <a class="dropdown-item" href="#">
              <img src="../../assets/imges/cana.png" style="height: 10px;width: 20px;"/> CAD -Canadian
            </a>
            <a class="dropdown-item" href="#">
              <img src="../../assets/imges/Euro.png" style="height: 10px;width: 20px;"/> EUR -Euro
            </a>
            <a class="dropdown-item" href="#">
              <img src="../../assets/imges/britis.png" style="height: 10px;width: 20px;"/>  GBP -British Pound Sterling
              </a>
              <a class="dropdown-item" href="#">
                <img src="../../assets/imges/new.png" style="height: 10px;width: 20px;"/> NZD -new Zealand Dollar
              </a>
              <a class="dropdown-item" href="#">
                <img src="../../assets/imges/us.png" style="height: 10px;width: 20px;"/>  USD -US Dollar
              </a>
          </div>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
            Log In
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tryus">
            Advertise Now!
            </a>
          </li>
      </ul>
    </div>
  </nav>
</div>

