<app-header2></app-header2>
<br><br>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="widget stacked">

    <div class="widget-header">
      <i class="icon-check"></i>
      <h3>&nbsp;</h3>
      <h3>Trip Vacation Rental Contact Information </h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">
      <div class="tabs-a"> </div>


        <div>

                  <div><strong>Mailing Address and Phone</strong></div>
                  <div><strong>1429 Park Street,&nbsp;</strong></div>
                  <div><strong>Hartford, CT 06106 ,</strong></div>
                  <div><strong>USA</strong></div>
                  <p>
                    </p><div><strong>Phone:</strong></div>

                  <div><strong>+1 -860 578 4944</strong></div>
                  <!--<div><strong>+1-424 570 3255 </strong></div>--><p></p>

                  <div><strong>Emails:</strong></div>
                  <div><strong>Subscription &amp; Sales: payment@tripvacationrental.com</strong></div>
                  <div><strong>Service &amp; After Sales: info@tripvacationrental.com</strong></div>
              </div>
    </div> <!-- /widget-content -->

  </div> <!-- /widget -->

  </div>
  </div>
</div>
<app-footer></app-footer>
