.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.text-center {
  text-align: center!important;
}
.m-4 {
  margin: 1.5rem!important;
}
