<app-header2></app-header2>
<div class="container">
  <div class="row">
  <div class="col-md-12" style="text-align:center; margin-top:20px">
  <img src="../../assets/imges/try-us.png">
  <div class="advertise-top-txt"><p>Advertise your holiday rental property, bed and breakfast, villa, apartment, cottage, cabin with TripVacationRental Network
  <span style="display:block">Sign up in 2 minutes, and we will make your accommodation online in 24 hours.</span></p>
   </div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12"><img src="../../assets/imges/try-us-1.png" style="float:left;"><span style="font-size:45px;color:#ee7514;">Guarantee</span><br>
  <p style="font-size:16px;">If you do not receive Two-Six weeks real bookings within the subscription period, we will show your property free for life time and refund your investment.</p>
  </div>

  </div>

  <div class="row">
  <div class="advertise-top-txt"><p>Choose a package and get listed now
  Below Package content Get more bookings Globally</p></div>

  </div>

  <div class="row">
  <div class="col-md-4 col-sm-4">

  <section class="ib-container" id="ib-container">
                      <header style="text-align:center">
                          <h3 style="font-size: 32px;padding: 8px;line-height: 40px;background: #CB8718; color:#fff;">Gold</h3>
                      </header>
                      <p>
                          </p><div class="center_div">$399</div><hr>
                          <div class="center_div">€353 approx.</div><hr>
                          <div class="center_div">£299 approx</div><hr>
                          <div class="center_div">12 Months Subscription</div><hr>
                          <div class="center_div">Elite Listing (Top)</div><hr>
                          <div class="center_div">1 Month Home Page Featured Listing</div><hr>
                          <div class="center_div">Personal website Promotion &amp; Link</div><hr>
                          <div class="center_div">Unlimited Character Text Description</div><hr>
                          <div class="center_div">Unlimited Photos</div><hr>
                          <div class="center_div">Availability Synchronization</div><hr>
                          <div class="center_div">Inflight Magazines 2 times (Last Minute Booking)</div><hr>
                          <div class="center_div">Guarantee: Minimum 6 Weeks of Reservations</div><hr>
                          <div class="center_div">Newsletter Feature Once in 2 Months</div><hr>
                          <div class="center_div">Account Representative</div><hr>
                          <div class="center_div">No Automatic Renewal</div><hr>
                          <div class="center_div">Currency Converter</div><hr>
                          <div class="center_div">Language Converter</div><hr>
                          <div class="center_div">Reports Every 3 Months</div><hr>
                          <br>
                          <div class="center_div">
                              <a href="#" class="button orange center_div">

                              Sign Up

                              </a>
                          </div>

                          <p></p>
                  </section>

  </div>

  <div class="col-md-4 col-sm-4">
  <section class="ib-container" id="ib-container">

                      <header style="text-align:center">
                          <h3 style="font-size: 32px;padding: 8px;line-height: 40px;background: #717780; color:#fff;">Silver</h3>
                      </header>
                      <p>
                          </p><div class="center_div">$299</div><hr>
                          <div class="center_div">€284 approx.</div><hr>
                          <div class="center_div">£225 approx</div><hr>
                          <div class="center_div">12 Months Subscription</div><hr>
                          <div class="center_div">Premium Listing (After Gold)</div><hr>
                          <div class="center_div">-</div><hr>
                          <div class="center_div">-</div><hr>
                          <div class="center_div">4000 Character Text Description</div><hr>
                          <div class="center_div">18 Photos</div><hr>
                          <div class="center_div">Availability Synchronization</div><hr>
                          <div class="center_div">-</div><hr>
                          <div class="center_div">Guarantee: Minimum 4 Weeks of Reservations</div><hr>
                          <div class="center_div">Newsletter Feature Once in 4 Months</div><hr>
                          <div class="center_div">Account Representative</div><hr>
                          <div class="center_div">No Automatic Renewal</div><hr>
                          <div class="center_div">Currency Converter</div><hr>
                          <div class="center_div">Language Converter</div><hr>
                          <div class="center_div">Reports Every 3 Months</div><hr>
                          <br>
                          <div class="center_div">
                              <a href="LoginCheck.php?p=2" class="button orange center_div">


                              Sign Up

                              </a>
                          </div>

                          <p></p>


  </section>
  </div>

  <div class="col-md-4 col-sm-4">
  <section class="ib-container" id="ib-container">

                      <header style="text-align:center">
                          <h3 style="font-size: 32px;padding: 8px;line-height: 40px;background:#9B372F; color:#fff;">Bronze</h3>
                      </header>
                      <p>
                          </p><div class="center_div">$199</div><hr>
                          <div class="center_div">€176 approx.</div><hr>
                          <div class="center_div">£149 approx</div><hr>
                          <div class="center_div">12 Months Subscription</div><hr>
                          <div class="center_div">Standard Listing (Bottom)</div><hr>
                          <div class="center_div">-</div><hr>
                          <div class="center_div">-</div><hr>
                          <div class="center_div">3000 Character Text Description</div><hr>
                          <div class="center_div">12 Photos</div><hr>
                          <div class="center_div">Availability Synchronization</div><hr>
                          <div class="center_div">-</div><hr>
                          <div class="center_div">Guarantee: Minimum 2 Weeks of Reservations</div><hr>
                          <div class="center_div">-</div><hr>
                          <div class="center_div">Account Representative</div><hr>
                          <div class="center_div">No Automatic Renewal</div><hr>
                          <div class="center_div">Currency Converter</div><hr>
                          <div class="center_div">Language Converter</div><hr>
                          <div class="center_div">Reports Every 3 Months</div><hr>
                          <br>
                          <div class="center_div">
                              <a href="#" class="button orange center_div">


                              Sign Up

                              </a>
                          </div>

                          <p></p>

          </section>

  </div>
  </div>

  <section class="listyourhome dest" style="margin-top:0px;">
    <div class="container">
      <div class="row">
      <div class="col-md-12">
      <div align="center">
    <img src="../../assets/imges/try-us-2.png" border="0">
      </div>
      </div>
      </div>
      </div>
    </section>
  <div class="row">
  <div class="col-md-4 col-sm-6">
  <img src="../../assets/imges/detailed-icon.png" width="75" height="87" style="float:left; margin-right:10px; margin-bottom:10px;">
                        <p class="icon_txt2"><span>Detailed Advert</span><br>
  You can display your accommodation with all available amenities. You can display detailed amenities, features, attractive points,  nearest Airport, Train, Boat, Beach, Golf and unlimited Snaps.</p>
  </div>

  <div class="col-md-4 col-sm-6">
  <img src="../../assets/imges/special-offer-icon.png" width="75" height="87" style="float:left; margin-right:10px; margin-bottom:10px;">
                        <p class="icon_txt2"><span>Special Offer</span><br>
   Now display your special offer in your accommodation.</p>
  </div>

  <div class="clearfix visible-sm"></div>
  <div class="col-md-4 col-sm-6">
  <img src="../../assets/imges/detailed-icon (1).png" width="75" height="87" style="float:left; margin-right:10px; margin-bottom:10px;">
                        <p class="icon_txt2"><span>Report</span><br>
  Keep an eye on your advert and check how many people have seen your property in your dashboard.</p>
  </div>

  <div class="clearfix hidden-md-down"></div>

  <div class="col-md-4 col-sm-6">
  <img src="../../assets/imges/contact-inforamtion-icon.png" width="75" height="87" style="float:left; margin-right:10px; margin-bottom:10px;">
                        <p class="icon_txt2"><span>Contact Information</span><br>
                        Travelers can send you enquiry via available enquiry form, or via telephone.</p>
  </div>
  <div class="clearfix visible-sm"></div>
  <div class="col-md-4 col-sm-6">
  <img src="../../assets/imges/featured-listing-icon.png" width="75" height="87" style="float:left; margin-right:10px; margin-bottom:10px;">
                        <p class="icon_txt2"><span>Featured Listings</span><br>
   Get Space on the homepage for 100 time’s quick response.</p>
  </div>
  <div class="col-md-4 col-sm-6">
  <img src="../../assets/imges/featured-listing-icon.png" width="75" height="87" style="float:left; margin-right:10px; margin-bottom:10px;">
                        <p class="icon_txt2"><span>Free Internet marketing</span><br>Your accommodation listing page will be advertised on different partner travel portals and directories.</p>
  </div>

  <div class="clearfix hidden-md-down"></div>

  <div class="col-md-4 col-sm-6">
  <img src="../../assets/imges/offline-marketing.jpg" width="75" height="87" style="float:left; margin-right:10px; margin-bottom:10px;">
                        <p class="icon_txt2"><span>Offline Marketing</span><br>
                       Your property will be advertised via Travel Magazines, Newspapers.</p>
  </div>
  <div class="col-md-4 col-sm-6">
  <img src="../../assets/imges/newsletter-icon.jpg" width="75" height="87" style="float:left; margin-right:10px; margin-bottom:10px;">
                        <p class="icon_txt2"><span>Newsletter</span><br>
  We will add your accommodation in our newsletters, and will send out to millions of interested travelers.</p>
  </div>
  <div class="col-md-4 col-sm-6">
  <img src="../../assets/imges/search-engine-icon.jpg" width="75" height="87" style="float:left; margin-right:10px; margin-bottom:10px;">
                        <p class="icon_txt2"><span>Search Engines</span><br>Register and maintain you property web page on Major search engines Google, Yahoo, Msn, Aol, Alta Vista, Yahoo Travel, Aol Travel.</p>
  </div>


  </div>

  </div><br><br><br><br><br>
  <app-footer></app-footer>
