<app-header2></app-header2>

<div class="container">
  <br><br>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" >
      <div class="card">
        <div class="card-header">
              <h6><i class="fa fa-check-square-o"></i> Terms & Conditions</h6>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p style="text-align:center;" >General Terms of Use</p>
            <p>
              TripVacationRental.com,vacation rental owners and managers (collectively “Listers”) and persons interested in vacation rental properties (“Renters”), conditioned upon acceptance without modification of the terms and conditions set forth herein (these “Terms of Use”). Your use of this Site constitutes your agreement to all of the terms and conditions set forth herein.
              </p>
              <p><strong >Venue</strong></p>
              <p><strong >Modification</strong></p>
              <p><strong >Use</strong></p>
              <p><strong >No Implied License</strong></p>
              <p><strong >Conduct</strong></p>
              <p><strong >Feedback</strong></p>
              <p><strong >Links to Third-Party Sites. </strong></p>
              <p><strong >Indemnification.</strong></p>
              <p><strong >Disclaimer of Warranty. </strong></p>
              <p><strong >Limitation of Liability. </strong></p>
              <p><strong >Third Party Rights. </strong></p>
              <p><strong >Termination. </strong></p>
              <p><strong >No Business Relationship Created By Your Use. </strong></p>
              <p><strong >No Waiver. </strong></p>
              <p><strong >Severability. </strong></p>
              <p><strong >Governing Law. </strong></p>
              <p><strong >Current Information</strong></p>
              <p><strong >Current Information</strong></p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <br><br>
  </div>
  <app-footer></app-footer>
