<app-header></app-header>
<div class="container home">
    <div class="row">
        <div class="col-sm-12">
            <h3
                style="background: rgba(0,0,0, 0.4); color: #fff; padding: 10px 0; font-size:24px; font-weight:bold; margin-bottom:20px; text-align:center">
                Property Showcase</h3>
        </div>
    </div>
    <div class="row  ">
        <div class=" col-sm-3 col-xs-6">
            <div class="container1">
                <img src="https://www.tripvacationrental.com/homePageImages/1.43842.PNG" alt="Notebook"
                    style="width:100%; height: 300px;" class="img img-responsive">
                <div class="content">
                    <div class="caption">
                        <a class="title"
                            style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">Nayarit
                            , Mexico Vacation Rentals</a>
                        <ul>
                            <li><span>4</span>Bedrooms</li>
                            <li><span>4 </span>Baths</li>
                            <li><span>12</span>Sleeps</li>

                        </ul>

                    </div>
                </div>
                <div class="price">
                    <p> <span>$1300 </span>Per Night </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="container1">
                <img src="https://www.tripvacationrental.com/homePageImages/2.40735.PNG" alt="Notebook"
                    style="width:100%; height: 300px;" class="img img-responsive">
                <div class="content">
                    <div class="caption">
                        <a class="title"
                            style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">British
                            Columbia , Canada Vacation Rentals</a>
                        <ul>
                            <li><span>6</span>Bedrooms</li>
                            <li><span>5 </span>Baths</li>
                            <li><span>12</span>Sleeps</li>

                        </ul>

                    </div>
                </div>
                <div class="price">
                    <p> <span>$1200 </span>Per Night </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 property">
            <div class="container1">
                <img src="https://www.tripvacationrental.com/homePageImages/3.4952.PNG" alt="Notebook"
                    style="width:100%; height: 300px;" class="img img-responsive">
                <div class="content">
                    <div class="caption">
                        <a class="title"
                            style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">California
                            , USA Vacation Rentals</a>
                        <ul>
                            <li><span>3</span>Bedrooms</li>
                            <li><span>3 </span>Baths</li>
                            <li><span>7</span>Sleeps</li>

                        </ul>

                    </div>
                </div>
                <div class="price">
                    <p> <span>$1300 </span>Per Night </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 property">
            <div class="container1">
                <img src="https://www.tripvacationrental.com/homePageImages/4.40653.PNG" alt="Notebook"
                    style="width:100%; height: 300px;" class="img img-responsive">
                <div class="content">
                    <div class="caption">
                        <a class="title"
                            style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">Nayarit
                            , Mexico Vacation Rentals</a>
                        <ul>
                            <li><span>3</span>Bedrooms</li>
                            <li><span>4 </span>Baths</li>
                            <li><span>10</span>Sleeps</li>

                        </ul>

                    </div>
                </div>
                <div class="price">
                    <p> <span>$1000 </span>Per Night </p>
                </div>
            </div>
        </div>
        <br />



        <div class="col-sm-3 col-xs-6" style="margin-top: 10px;">
            <div class="container1">
                <img src="https://www.tripvacationrental.com/homePageImages/5.40619.PNG" alt="Notebook"
                    style="width:100%; height: 300px;" class="img img-responsive">
                <div class="content">
                    <div class="caption">
                        <a class="title"
                            style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">Aveiro
                            , Portugal Vacation Rentals</a>
                        <ul>
                            <li><span>3</span>Bedrooms</li>
                            <li><span>3 </span>Baths</li>
                            <li><span>7</span>Sleeps</li>

                        </ul>

                    </div>
                </div>
                <div class="price">
                    <p> <span>$750 </span>Per Night </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6" style="margin-top: 10px;">
            <div class="container1">
                <img src="https://www.tripvacationrental.com/homePageImages/6.43733.PNG" alt="Notebook"
                    style="width:100%; height: 300px;" class="img img-responsive">
                <div class="content">
                    <div class="caption">
                        <a class="title"
                            style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">Texas
                            , USA Vacation Rentals</a>
                        <ul>
                            <li><span>5</span>Bedrooms</li>
                            <li><span>3 </span>Baths</li>
                            <li><span>12</span>Sleeps</li>

                        </ul>

                    </div>
                </div>
                <div class="price">
                    <p> <span>$1000 </span>Per Night </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6" style="margin-top: 10px;">
            <div class="container1">
                <img src="https://www.tripvacationrental.com/homePageImages/7.40372.PNG" alt="Notebook"
                    style="width:100%; height: 300px;" class="img img-responsive">
                <div class="content">
                    <div class="caption">
                        <a class="title"
                            style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">Jalisco
                            , Mexico Vacation Rentals</a>
                        <ul>
                            <li><span>3</span>Bedrooms</li>
                            <li><span>4 </span>Baths</li>
                            <li><span>10</span>Sleeps</li>

                        </ul>

                    </div>
                </div>
                <div class="price">
                    <p> <span>$1032 </span>Per Night </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6" style="margin-top: 10px;">
            <div class="container1">
                <img src="https://www.tripvacationrental.com/homePageImages/showcase8.jpg" alt="Notebook"
                    style="width:100%; height: 300px;" class="img img-responsive">
                <div class="content">
                    <div class="caption">
                        <a class="title"
                            style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">Arizona
                            , USA Vacation Rentals</a>
                        <ul>
                            <li><span>4</span>Bedrooms</li>
                            <li><span>3 </span>Baths</li>
                            <li><span>10</span>Sleeps</li>

                        </ul>

                    </div>
                </div>
                <div class="price">
                    <p> <span>$800 </span>Per Night </p>
                </div>
            </div>
        </div>
</div>

    <div class="row">
        <div class="col-sm-12">
            <h3
                style="background: rgba(0,0,0, 0.4); color: #fff; padding: 10px 0; font-size:24px; font-weight:bold; margin-bottom:20px; margin-top: 20px;text-align:center">
                FEATURED DESTINATIONS</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-dark Destinations" (click)="toggleDisplayDivIf()"
                style="align-items: center;">Destinations</button>
            <button class="btn btn-dark" (click)="toggleDisplayDivIf1()"
                style="align-items: center;margin-left:10px;">Attraction</button>


        </div>
    </div>


    <div class="row destination" *ngIf="!isShowDivIf" style="min-height: 460px;margin-top: 20px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 col-xs-6">
            <div class="container1">
                <img src="https://www.tripvacationrental.com/uploaded_filesT/146464141000040738.PNG" alt="Notebook"
                    style="width:100%; height: 460px;" class="img img-responsive">
                <div class="content">
                    <div class="caption">
                        <p class="title"
                            style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">
                            Nayarit
                            , Mexico Vacation Rentals</p>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-7 col-xs1-6">
            <div class="row" style="min-height: 200px;">
                <div class="col-sm-12 col-xs1-6">
                    <div class="container1">
                        <img src="https://www.tripvacationrental.com/uploaded_filesT/144909737600040735.PNG"
                            alt="Notebook" style="width:100%; height: 200px;" class="img img-responsive">
                        <div class="content">
                            <div class="caption">
                                <p class="title"
                                    style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">
                                    Nayarit
                                    , Mexico Vacation Rentals</p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-6 col-xs1-6">
                    <div class="col-sm-12 col-xs1-6">
                        <div class="container1">
                            <img src="	https://www.tripvacationrental.com/uploaded_filesT/147637697100040802.PNG"
                                alt="Notebook" style="width:100%; height: 250px;" class="img img-responsive">
                            <div class="content">
                                <div class="caption">
                                    <p class="title"
                                        style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">
                                        Nayarit
                                        , Mexico Vacation Rentals</p>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs1-6">
                    <div class="col-sm-12 col-xs1-6">
                        <div class="container1">
                            <img src="	https://www.tripvacationrental.com/uploaded_filesT/147405495700040763.jpg"
                                alt="Notebook" style="width:100%; height: 250px;" class="img img-responsive">
                            <div class="content">
                                <div class="caption">
                                    <p class="title"
                                        style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">
                                        Nayarit
                                        , Mexico Vacation Rentals</p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>

    </div>


    <div class="row" *ngIf="!isShowDivIf1" style="min-height: 460px;margin-top: 20px;">
<div class="col-sm-1"></div>
        <div class="col-sm-3">
            <div class="container1">
                <img src="https://www.taketours.com/images/slides/mexicovacationpackagesslide.jpg" alt="Notebook"
                    style="width:100%; height: 460px;" class="img img-responsive">
                <div class="content">
                    <div class="caption">
                        <p class="title"
                            style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">
                            Nayarit
                            , Mexico Vacation Rentals</p>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-7">
            <div class="row" style="min-height: 200px;">
                <div class="col-sm-12">
                    <div class="container1">
                        <img src="https://res.taketours.com/images/320/MexicoTour2.jpg" alt="Notebook"
                            style="width:100%; height: 200px;" class="img img-responsive">
                        <div class="content">
                            <div class="caption">
                                <p class="title"
                                    style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">
                                    Nayarit
                                    , Mexico Vacation Rentals</p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="container1">
                            <img src="	https://res.taketours.com/images/320/Tulum.jpg" alt="Notebook"
                                style="width:100%; height: 250px;" class="img img-responsive">
                            <div class="content">
                                <div class="caption">
                                    <p class="title"
                                        style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">
                                        Nayarit
                                        , Mexico Vacation Rentals</p>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="container1">
                            <img src="	https://res.taketours.com/images/6287.jpg" alt="Notebook"
                                style="width:100%; height: 250px;" class="img img-responsive">
                            <div class="content">
                                <div class="caption">
                                    <p class="title"
                                        style="padding:3px;padding-bottom: 0px; font-size: 12px;text-decoration: none;color:#f1f1f1 ;">
                                        Nayarit
                                        , Mexico Vacation Rentals</p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 "></div>

        <!-- d-none d-md-inline -->

    </div>





    <div class="row text-center" style="margin-top: 20px;">
        <div class="col-sm-12">
            <img src="https://www.tripvacationrental.com/homePageImages/book-holidays.png" class="img img-responsive">
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="container" style=" background:#ab467e; ">



            <section class="listyourhome" style="margin-top:0px; padding:15px;">
                <header>
                    <h2 class="listyourhome__heading listyourhome__heading--main" style="color:#fff;">List your property
                        on Trip Vacation Rental Network</h2>
                    <h3 class="listyourhome__heading listyourhome__heading--sub" style="color:#fff;">Get more bookings,
                        your way</h3>
                </header>
                <div class="row row1">
                    <div class="col-md-6 col-sm-6">
                        <div class="group">
                            <div class="listyourhome__panel">
                                <h4 class="listyourhome__heading--small" style="color:#ff8718;"> <i
                                        class="icon icon-large icon-cost-effective"></i>Cost effectiveadvertising </h4>
                                <p style="color:#fff;">We offer real flexibility and choice, letting you decide how you
                                    want to advertise and for how long.You can list on your Network with
                                    any Package and for any duration without any limitation to Join any other Company.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="listyourhome__panel">
                            <h4 class="listyourhome__heading--small" style="color:#ff8718;"> <i
                                    class="icon icon-large icon-trip"></i>Reach millions of TravelersGlobally </h4>
                            <p style="color:#fff;">Your listing includes exposure on on Partner sites to millions of
                                people who are searching for local and unique places to stay aroundthe world</p>
                        </div>
                    </div>
                </div>
                <div class="row row1">
                    <div class="col-md-6 col-sm-6">
                        <div class="group">
                            <div class="listyourhome__panel group">
                                <h4 class="listyourhome__heading--small" style="color:#ff8718;"> <i
                                        class="icon icon-large icon-secure"></i>List your home </h4>
                                <p style="color:#fff;">Whether you have a holidays cottage, villa, apartment, annexe,
                                    guesthouse, B&amp;B or camper van, you can list it with us. Even
                                    advertise your own home for the weeks you're on holidays yourself!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="listyourhome__panel">
                            <h4 class="listyourhome__heading--small" style="color:#ff8718;"> <i
                                    class="icon icon-large icon-home"></i>Secure and simple </h4>
                            <p style="color:#fff;">You decide who stays, and we give you a secure and easy way to
                                accept online payments from your guests. Plus, creating and updating
                                your advert couldn't be easier.</p>
                        </div>
                    </div>
                </div>
                <div class="row row1">
                    <div class="col-md-12">
                        <p class="listyourhome__paragraph--centered"> <a href="/package.php"
                                class="listyourhome__button hlButtonGreenShadow" title="Get started" id="bh"> Get
                                started </a> </p>
                    </div>
                </div>
            </section>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="logosHolder">
                <div class="left" style="margin:0;"> <img
                        src="https://www.tripvacationrental.com/homePageImages/Quote_1.PNG" class="text-center"> </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section id="partners" class="inner-block clearfix">
                <h2
                    style="background:rgba(0,0,0, 1.4); padding:10px 0; margin-top:30px; margin-bottom: 0px; color:#fff;">
                    Our partners</h2>
                <div class="logosHolder" style="background:#fff; padding:0 22px;">
                    <div class="left"> <img src="https://www.tripvacationrental.com/homePageImages/partners/p1.jpg">
                    </div>
                    <div class="left"> <img src="https://www.tripvacationrental.com/homePageImages/partners/p3.jpg">
                    </div>
                    <div class="left"> <img src="https://www.tripvacationrental.com/homePageImages/partners/p4.jpg">
                    </div>
                    <div class="left"><img
                            src="https://www.tripvacationrental.com/homePageImages/partners/Delta_Airlines.jpg">
                    </div>
                </div>
            </section>
        </div>
    </div>





</div>
<app-footer></app-footer>
